*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    transition: 0.2s;
}
button
{
    width: 100%;
    background-color: transparent;
    border: transparent;
    color: blue;
    background-color: yellow;
    font-size: 2rem;
    cursor: pointer;
}
